registry=https://registry.npmjs.org/
@gplay:registry=https://repo.gplaysdk.com/repository/npm/
//repo.gplaysdk.com/repository/npm/:username=tuandd
//repo.gplaysdk.com/repository/npm/:_password=MTIzNDU2
//repo.gplaysdk.com/repository/npm/:email=tuandd.gplaystudio@gmail.com
