:root {
  /* Main Background & Text */
  --background: #101010;
  --primary-text: #000000;
  --secondary-text: #7B7B7B;
  --highlight-text: #E81C1F;

  /* Theme Panels */
  --panel-theme-1: #FEFEFE;
  --clock-main-digit-color: #FFFFFF;

  /* UI Elements */
  --plus: #66BC32;
  --decline: #E32626;

  /* Standard Colors */
  --color-gray: #AEAEAE;
  --color-blue: #72A3FF;
  --color-red: #FF5151;
  --color-green: #31AE36;
  --color-warm-grey: #9F8E86;

  /* Digit Specific Colors */
  --digit-day: #FFFFFF;
  --digit-hour: #FFFFFF;
  --digit-min: #FFFFFF;
  --digit-month: #FFFFFF;
  --digit-year: #FFFFFF;
}